<h2>Группа - <%= course_group.title %></h2>
<%= link_to 'Записаться в группу', new_course_groups_user_path(course_group_id: course_group.id) %>

<table class='js-course-table'>
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% course_group.course_groups_users.each do |course_groups_user| %>
      <tr>
        <td><%= course_groups_user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
